{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	
<div class="row divider green">
	<div class="col-sm-12"></div>
</div>

<div class="row banner main">
	<div class="col-md-11">
		<h2>Categories</h2>
	</div>
</div>

<div class="row">
	<div class="flash">
		{% with messages = get_flashed_messages() %}
   			{% if messages %}  
       			<ul>
       				{% for message in messages %}
           				<li><strong> {{ message }} </strong></li>
       				{% endfor %}
       			</ul>
       		{% endif %}
   		{% endwith %}
	</div>
</div>
	
<div class="row">
	<div class="col-sm-12">
		<a href="{{url_for('newCategory')}}">
			<button class="btn" id="new-category"> Add Category
			</button>
		</a>
	</div>
</div>

<div class="row">
	{% for category in categories %}
		<a href = "{{url_for('showCategoryItems', category_id = category.id)}}">
			<div class="col-sm-4 category-list">
				<h3>{{category.name}}</h3>
			</div>
		</a>
	{% endfor %}	
</div>

{% endblock %}
